.discography-card {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  align-items: center;
  text-align: center;

  position: relative;
  overflow: hidden;

  min-width: 8rem;
  max-width: 42rem;

  border-radius: .5em;
  border: solid var(--accent) .2rem;
  background-color: var(--bg-primary);

  picture, img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 8 / 3;
    object-fit: cover;
  }

  a:link, a:visited, a:hover, a:active {
    display: block;
    width: 100%;
    color: var(--text-primary);
    text-decoration: none;

    h2 {
      margin: .25em;
    }
  }
}

.tags {
  display: flex;
  position: absolute;

  flex-wrap: wrap;

  margin: .3rem;
  gap: .75em;

  top: 3%;
  right: 3%;

  text-wrap: wrap;

  .tag {
    font-size: small;
    background-color: var(--accent);
    padding: .5rem 1rem;
    border-radius: 1em;

    line-height: 1.25;
  }
}