.discography-card {
  display: flex;
  position: relative;
  overflow: hidden;

  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: var(--bg-primary);

  border-radius: .5em;
  border: solid var(--accent) .2rem;

  min-width: 256px;

  a:link, a:visited, a:hover, a:active {
    color: var(--text-primary);
    text-decoration: none;

    h2 {
      margin: .25em;
    }
  }

  img {
    aspect-ratio: 8/3;
    object-fit: cover;
  }
}

.tags {
  display: flex;
  position: absolute;

  flex-wrap: wrap;

  margin: .3rem;
  gap: .75em;

  top: 3%;
  right: 3%;

  text-wrap: wrap;

  .tag {
    font-size: small;
    background-color: var(--accent);
    padding: .5rem 1rem;
    border-radius: 1em;

    line-height: 1.25;
  }
}