footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  padding: 1em;
  margin-top: 1.33rem;
  margin-bottom: var(--navbar-height-small);

  text-align: center;

  border-top: solid var(--accent) .2rem;
  background-color: var(--bg-secondary);

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 12rem;
  }

  a {
    color: var(--text-secondary);
    text-decoration: none;
  }

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    margin-left: var(--navbar-width-large);
    margin-bottom: 0;
  }
}

#footer-basics {
  display: flex;
}

#footer-links {
  ul {
    text-align: left;
    list-style: none;
    padding-left: 1.2em;

    li {
      position: relative;
      padding-left: 1em;
    }

    li::before {
      content: "♦";
      font-size: 1em;
      line-height: 1;
      color: var(--accent); /* or any color you want */

      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}