:root {
    --navbar-width-large: 5rem;
    --navbar-width-small: 3rem;
}

.navbar {
    position: fixed;
    z-index: 10;

    background-color: var(--bg-primary);
    transition: width 83ms ease;
    overflow: scroll;

    border: .15rem solid var(--accent);
    border-radius: var(--border-radius);
    margin: .5rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
}

.navbar-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;

    color: var(--text-primary);
    text-decoration: none;

    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    color: var(--text-secondary);
    background: var(--bg-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: calc(100vw - 1.25rem);
        height: 3rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: calc(100vh - 1.25rem);
    }

    .navbar:hover {
        width: 16rem;
        box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.5);
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0;
    }
}