---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Channel Artwork</title>
    </Fragment>

    <header>
        <h1>Channel Artwork</h1>
        <p>Artworks created for the sake of branding.</p>
    </header>
</BaseLayout>