---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Backings</title>
    </Fragment>

    <header>
        <h1>Backings & Wallpapers</h1>
        <p>Physically ricing my devices :3</p>
    </header>


    <main>
        <h1>Backings</h1>
        <p>For use in clear cases.</p>

        <hr>

        <h1>Wallpapers</h1>
        <p>You know what these are...</p>

    </main>
</BaseLayout>