---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Profile Pictures</title>
    </Fragment>

    <header>
        <h1>Profile Pictures</h1>
        <p>Artwork primarily for my online presence.</p>
    </header>
</BaseLayout>