---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>MEMEZ</title>
    </Fragment>

    <header>
        <h1>MEMEZ</h1>
        <p>High effort (maybe) comedy content.</p>
    </header>
</BaseLayout>