---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Stained Glass</title>
    </Fragment>

    <header>
        <h1>Stained Glass</h1>
        <p>Artworks made for my school's stained glass courses. Templates included.</p>
    </header>
</BaseLayout>