#title {
	margin-top: 1rem;
	height: 66vh;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 1em;
	background: var(--body-bg) url("/src/assets/img/landing.webp") no-repeat center center;
	background-size: cover;
}

#landing-title {
	text-align: center;
	
	padding: 5rem;
	background-color: #10173a29;
	border-radius: var(--border-radius);

	backdrop-filter: blur(1px);
	text-shadow: 2px 2px 3px #000a41db;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		list-style: none;
		padding: 0;
		margin: 0;
	}
}



.split-card {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2em;

	border: var(--accent) solid .3em;
	border-radius: var(--border-radius);
	padding: 1em;

	img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		width: 100%;
		height: auto;
		border: var(--accent) solid .2em;
		border-radius: var(--border-radius);
		display: block;
	}
}

@media only screen and (min-width: 600px) {
	//	Fix sideways scrolling
	#title {
		margin: -2rem -2rem 0rem -2rem;
		height: calc(100vh + 1rem);
		border-radius: 0;
	}
}