:root {
    // Text //
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #ffffff;
    --text-secondary: #aeb1dc;

    // Color palette //
    --body-bg: #1e1926;
    --bg-primary: #3b0e4d;
    --bg-secondary: #000000;

    --accent: #6649b8;
    --accent2: #49b87d;

    --transition-speed: 200ms;
    --border-radius: .5em;
}