:root {
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #ffffff;
    --text-secondary: #aeb1dc;

    --body-bg: #0e0616;
    --bg-primary: #3b0e4d;
    --bg-secondary: #000000;

    --accent: #6649b8;

    --transition-speed: 200ms;
    --border-radius: .5em;
}