@use "variables";
@use "components/navbar";
@use "./components/utilities.css";
@use "./components/decorations.css";

/* Webpage Essentials */
header {
    position: relative;
    z-index: 5;

    text-align: center;
    background-color: rgb(40, 13, 65);

    padding: .5rem;
    padding-left: 5rem;
}

body {
    color: rgb(255, 255, 255);
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
}

main {
    padding: .1rem;

    img {
        width: 100%;
    }

    a:link, a:visited, a:hover, a:active {
        color: #9fe5ff;
        text-decoration: none;
    }
}

/* Responsive */
@media only screen and (max-width: 600px) {
    main {
        margin-bottom: 3rem;

        padding-left: .5rem;
        padding-right: .5rem;
    }

    header {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        margin-top: .75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header {
        max-width: calc(100vw - 5rem);

        padding-left: .5rem;
        padding-right: .5rem;
        margin-left: 5rem;
        margin-right: 0;
        text-align: center;
    }

    .media {
        max-width: 60%;
    }
}