:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #9f9f9f;
    --text-secondary: #ffffff;
    --body-bg: #0e0616;
    --bg-primary: #3b0e4d;
    --bg-secondary: #000000;
    --transition-speed: 200ms;
}

/* FUNCTIONAL CLASS ITEMS */
.centerContentsH {
    display: grid;
    place-items: center;
    text-align: center;
}

/* WEBPAGE */
header {
    position: relative;
    z-index: 5;

    text-align: center;
    background-color: rgb(40, 13, 65);

    padding: .5rem;
    padding-left: 5rem;
}

body {
    color: rgb(255, 255, 255);
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
}

main {
    padding: .1rem;

    img {
        width: 100%;
    }

    a:link, a:visited, a:hover, a:active {
        color: #9fe5ff;
        text-decoration: none;
    }
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.33rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* Navigation */
.navbar {
    position: fixed;
    z-index: 6;

    background-color: var(--bg-primary);
    transition: width 83ms ease;
    overflow: scroll;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbar-item {
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* RESPONSIVE STUFFS */
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 3rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin-bottom: 3rem;

        padding-left: .5rem;
        padding-right: .5rem;
    }

    header {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
        box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.5);
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0;
    }

    main {
        margin-left: 5rem;
        margin-top: .75rem;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    header {
        max-width: calc(100vw - 5rem);

        padding-left: .5rem;
        padding-right: .5rem;
        margin-left: 5rem;
        margin-right: 0;
        text-align: center;
    }

    .media {
        max-width: 60%;
    }
}