---
import BaseLayout from "../../layouts/BaseLayout.astro";
import DiscographyCard from "../../components/DiscographyCard.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>About snoutibur</title>
    </Fragment>

    <header>
        <h1>About me!</h1>
        <p>Woah, you actually wanted to read this??</p>
    </header>

    <main>
        <h1>Well, this is awkward...</h1>
        <p>I didn't expect anybody to actually <i>want</i> to read someone's bio... Writing this is a pretty low priority right now, sorry.<br>
            Would you like to have a cookie instead? This one's spyware free!</p>
    </main>
</BaseLayout>