---
import { Masonry } from "astro-masonry";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "@styles/components/cards.scss";
---

<BaseLayout>
    <Fragment slot="head">
        <title>About snoutibur</title>
    </Fragment>

    <header>
        <h1>Gearhead Corner</h1>
        <p>Equipment is the best! :D</p>
    </header>

    <main>
        <article class="split-card">
            <h1>Computers</h1>

            <Masonry>
                <div>
                    <h2>Mac Studio (2022)</h2>
                    <ul>
                        <li>
                            <strong>SoC:</strong> M1 Max 10c CPU 32c GPU
                        </li>
                        <li>
                            <strong>RAM:</strong> 32GB Unified
                        </li>
                        <li>
                            <strong>Storage:</strong> 1TB Internal + 1TB Samsung 970 external
                        </li>
                        <li>
                            <strong>OS:</strong> macOS, Asahi Linux (Fedora)
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>MacBook Pro 15 (2016)</h2>
                    <ul>
                        <li>
                            <strong>CPU:</strong> Intel Core i7-6700HQ
                        </li>
                        <li>
                            <strong>GPU:</strong> AMD Radeon Pro 450 2GB
                        </li>
                        <li>
                            <strong>RAM:</strong> 16GB
                        </li>
                        <li>
                            <strong>Storage:</strong> 256GB Internal
                        </li>
                        <li>
                            <strong>OS:</strong> macOS Monterey 12.7.6 + Fedora Linux
                        </li>
                    </ul>
                </div>
            </Masonry>
        </article>

        <Masonry
                breakpointCols={{
                    default: 2,
                    760: 1,
                }}
        >
            <article class="split-card">
                <h1>Drawing</h1>

                <Masonry>
                    <div>
                        <h2>Hardware</h2>
                        <ul>
                            <li>Huion Kamvas 22 Plus</li>
                            <li>iPad + Apple Pencil</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Software</h2>
                        <ul>
                            <li>Affinity Designer</li>
                            <li>Procreate</li>
                        </ul>
                    </div>
                </Masonry>
            </article>

            <article class="split-card">
                <h1>Music</h1>
                <Masonry>
                    <div>
                        <h2>Hardware</h2>
                        <ul>
                            <li>Komplete Kontrol S61 Mk.II</li>
                            <li>Ableton Push 2</li>
                            <li>UA Volt 2</li>
                            <li>Beyerdynamic DT-990 Pro</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Software</h2>
                        <ul>
                            <li>Ableton Live 12 Suite</li>
                            <li>Ableton Note</li>
                        </ul>
                    </div>
                </Masonry>
            </article>

            <article class="split-card">
                <h1>Photography</h1>
                <Masonry>
                    <div>
                        <h2>Hardware</h2>
                        <ul>
                            <li>Sony ZV-E10 Mk.I</li>
                            <li>Tamron 18-300mm f/3.5-6.3</li>
                            <li>Sony PZ 16-50mm f/3.5-5.6 kit lens</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Software</h2>
                        <ul>
                            <li>Affinity Photo</li>
                        </ul>
                    </div>
                </Masonry>
            </article>

            <article class="split-card">
                <h1>3D Printing</h1>
                <Masonry>
                    <div>
                        <h2>Hardware</h2>
                        <ul>
                            <li>Bambu Lab A1</li>
                            <li>3D Simo Mini 2</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Software</h2>
                        <ul>
                            <li>Fusion 360</li>
                            <li>OrcaSlicer</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Filaments</h2>
                        <p>At least preferred materials</p>
                        <ul>
                            <li>PETG (Primary)</li>
                            <li>PLA</li>
                        </ul>
                    </div>
                </Masonry>
            </article>
        </Masonry>
    </main>
</BaseLayout>