---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>About snoutibur</title>
    </Fragment>

    <header>
        <h1>Gearhead Corner</h1>
        <p>Equipment is the best! :D</p>
    </header>

    <main>
        <h1>Computers</h1>
        <p>
            TBA: might make this look like neofetch :33
        </p>
        <h1>Drawing Gear</h1>
        <p>
            TBA
        </p>
        <h1>Music Gear</h1>
        <p>
            TBA
        </p>
        <h1>Photography Gear</h1>
        <p>
            TBA
        </p>
    </main>
</BaseLayout>