---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>404</title>
    </Fragment>

    <main class="centerContentsH">
        <h1>404 DD:</h1>
        <h2>Ya borked it.</h2>
    </main>
</BaseLayout>