---

import BaseLayout from "../layouts/BaseLayout.astro";---

<BaseLayout>
    <Fragment slot="head">
        <title>Ableton Stuffs</title>
    </Fragment>

    <header>
        <h1>Ableton Stuffs</h1>
    </header>

    <main>

    </main>
</BaseLayout>