---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Ableton Stuffs</title>
    </Fragment>

    <header>
        <h1>Ableton Stuffs</h1>
    </header>

    <main>
        <section id="themes">
            <h1>Live Themes</h1>
            <h2>Themes designed for Ableton Live</h2>
            <hr>


        </section>

        <section id="max-devices">
            <h1>max4live devices</h1>
            <h2>Plugins for Ableton Live created in max</h2>
            <hr>

        </section>
    </main>
</BaseLayout>