---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <header>
        <h1>Artworks</h1>
    </header>

    <main>
        <h1>emptiness :o</h1>
        <p>
            I'll post stuff here eventually!
            Maybe when I find a good host for images (that isn't GitHub)
        </p>
    </main>
</BaseLayout>