---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <header>
        <h1>Artworks</h1>
    </header>

    <main>
        <section id="placeholder">
            <h1>emptiness :o</h1>
            <p>
                I'll post stuff here eventually!<br>
                I just need a good image host (that isn't GitHub), and to go through and re-export & collect them all onto the image host.. and perhaps page generation from Markdown to handle a growing library.
            </p>
        </section>
    </main>
</BaseLayout>