---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@styles/components/cards.scss";

import {Image} from "astro:assets";
import {Masonry} from "astro-masonry";---

<BaseLayout>
    <Fragment slot="head">
        <title>CS & Programming</title>
    </Fragment>

    <header>
        <h1>CS is BS!</h1>
        <p>CS & Programming related items <i>that didn't fail..</i></p>
    </header>

    <main>
        <h1>Repos</h1>
        <p>Projects I'm currently maintaining or intend on returning to soon.</p>

        <section>
            <h2>Workflow & Configuration</h2>
            <Masonry
                    breakpointCols={{
                        default: 3,
                        1200: 2,
                        621: 1,
                    }}
            >
                <article class="split-card">
                    <h1>dotfiles</h1>
                    <p>
                        Ricing! My personal cross platform (macOS & Linux) system configuration files.<br>
                        These aren't public yet- I intend to make them public, but I have to clean up private information first.
                    </p>
                </article>
            </Masonry>
        </section>

        <section>
            <h2>Music</h2>
            <Masonry>
                <a href="https://github.com/snoutibur/midingo" target="_blank">
                    <article class="split-card">
                        <h1>miDingo</h1>
                        <p>
                            A Synthesia / Guitar hero style game for piano practice. The objective is to hit notes falling onto a key at the right time.<br>
                            Currently WIP & on hiatus.
                        </p>
                    </article>
                </a>
                <a href="https://github.com/snoutibur/sequential" target="_blank">
                    <article class="split-card">
                        <h1>Sequential</h1>
                        <p>
                            A iPadOS bluetooth MIDI controller inspired by the layouts found on Ableton Push. <br>
                            Currently in the concept phase. Will enter development when I have access to iOS tooling (notably SwiftUI). Will be open source when development has started.
                        </p>
                    </article>
                </a>
            </Masonry>
        </section>

        <hr>

        <h1>Profiles</h1>
        <Masonry
                breakpointCols={{
                    default: 3,
                    1200: 2,
                    621: 1,
                }}
        >
            <a href="https://github.com/snoutibur" target="_blank">
                <article class="split-card">
                    <img src="https://avatars.githubusercontent.com/u/157987813" alt="Main profile">
                    <h1>snoutibur</h1>
                    <p>
                        Main GitHub account.
                    </p>
                </article>
            </a>

            <a href="https://github.com/snoutibur" target="_blank">
                <article class="split-card">
                    <img src="https://avatars.githubusercontent.com/u/215105552?s=800" alt="Dog otter profile">
                    <h1>snoutiscratch</h1>
                    <p>
                        Project scrapbook & GitHub garden. These projects are most likely abandoned after completion or interest is lost.
                    </p>
                </article>
            </a>

            <a href="https://github.com/snoutibur" target="_blank">
                <article class="split-card">
                    <img src="https://avatars.githubusercontent.com/u/215185128?s=800" alt="CS is BS Profile">
                    <h1>schoolzstuffs</h1>
                    <p>
                        Coursework; for school and academia.
                    </p>
                </article>
            </a>
        </Masonry>
    </main>
</BaseLayout>