---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@styles/components/cards.scss";
import {Image} from "astro:assets";
import {Masonry} from "astro-masonry";---

<BaseLayout>
    <Fragment slot="head">
        <title>CS & Programming</title>
    </Fragment>

    <header>
        <h1>CS is BS!</h1>
        <p>CS & Programming related items <i>that didn't fail..</i></p>
    </header>

    <main>
        <h1>Repos</h1>
        <Masonry
                breakpointCols={{
                    default: 3,
                    1200: 2,
                    621: 1,
                }}
        >
            <article class="split-card">
                <h1>dotfiles</h1>
                <p>
                    My personal cross platform (macOS & Linux) system configuration files. <i>Ricing!</i>
                </p>
            </article>
        </Masonry>

        <hr>

        <h1>Profiles & Orgs</h1>
        <p>TBA</p>
    </main>
</BaseLayout>