---

import BaseLayout from "../layouts/BaseLayout.astro";
import DiscographyCard from "../components/DiscographyCard.astro";---

<BaseLayout>
    <Fragment slot="head">
        <title>CS & Programming</title>
    </Fragment>

    <header>
        <h1>CS is BS!</h1>
        <p>CS & Programming related items <i>that didn't fail..</i></p>
    </header>

    <main>
        <h1>Oh.. wait... nothing made it??</h1>
    </main>
</BaseLayout>