---
import BaseLayout from "../layouts/BaseLayout.astro";
import DiscographyCard from "../components/DiscographyCard.astro";
import "@styles/pages/discography.scss"

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const discographyItems = await getCollection('discography');
const discography = discographyItems.sort((a: CollectionEntry<'discography'>, b: CollectionEntry<'discography'>) =>
    a.data.order - b.data.order
);
---

<BaseLayout>
    <Fragment slot="head">
        <title>Discography</title>
    </Fragment>

    <header>
        <h1>Discography</h1>
    </header>

    <main>
        <section class="discography-grid">
            {discography.map((item: CollectionEntry<'discography'>) => (
                    <DiscographyCard
                            title={item.data.title}
                            cover={item.data.cover}
                            tags={item.data.tags}
                            link={`/discography/${item.slug}`}
                    />
            ))}
        </section>
    </main>
</BaseLayout>