---
import BaseLayout from "../layouts/BaseLayout.astro"
import "@styles/landing.css"
---

<BaseLayout>
    <Fragment slot="head">
        <title>snoutibur home</title>
    </Fragment>

    <!--TODO: Sectioned title & about homepage-->

    <main>
        <section id="title">
            <div id="landing-title">
                <h1>snoutibur</h1>
                <ul>
                    <li>Artist</li>
                    <li>Musician</li>
                    <li>Programmer</li>
                </ul>
                <p><i><br>HAI!!</i></p>

                <a href="https://github.com/snoutibur"><img src="/socials/GitHub.svg" alt="GitHub Profile" class="socials"></a>
                <a href="https://www.youtube.com/@snoutibur"><img src="/socials/YouTube.svg" alt="YouTUbe Channel" class="socials"></a>
            </div>
        </section>

        <section id="aboutme">
            <h1>Hai!</h1>
        </section>
    </main>


</BaseLayout>
