---
import BaseLayout from "../layouts/BaseLayout.astro"
import "@styles/landing.css"
---

<BaseLayout>
    <Fragment slot="head">
        <title>snoutibur home</title>
    </Fragment>

<body class="landingBody">

<main>
    <div class="landingBodyText">
        <h1>snoutibur</h1>
        <h3>Artist | Composer | Producer</h3>
        <p><i><br>HAI!!</i></p>
    </div>
</main>
</body>
</BaseLayout>
