---
import BaseLayout from "../layouts/BaseLayout.astro"
import "@styles/pages/landing.scss"
import {Image} from "astro:assets";
---

<BaseLayout>
    <Fragment slot="head">
        <title>snoutibur home</title>
    </Fragment>

    <main>
        <section id="title">
            <div id="landing-title">
                <h1>snoutibur</h1>
                <ul>
                    <li>Artist</li>
                    <li>Musician</li>
                    <li>Programmer</li>
                </ul>

                <p><i>HAI!!</i></p>

                <ul class="socials-list">
                    <li>
                        <a href="https://github.com/snoutibur"><img src="/socials/GitHub.svg" alt="GitHub Profile" class="socials"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@snoutibur"><img src="/socials/YouTube.svg" alt="YouTUbe Channel" class="socials"></a>
                    </li>
                </ul>
            </div>
        </section>

        <section id="featured">
            <h1>Featured</h1>
        </section>

        <section class="split-card">
            <Image
                src={import('../assets/img/landing.webp')}
                alt="Profile Picture"
                sizes="(max-width: 2048px) 100vw, 300px"
                quality={80}
                format="webp"
            />
            <div id="blurb">
                <h1>Haii!</h1>
                <p>
                    I go by snoutibur on the internet. I am a CS student & major who spends most of their time programming and making music. I also love doing digital art, photography,
                </p>

                <small><i>
                    I prefer to remain reasonably anonymous online. Thank you for respecting that.
                </i></small>
            </div>

        </section>
    </main>
</BaseLayout>