---
import BaseLayout from "../layouts/BaseLayout.astro"
import "@styles/pages/landing.scss"
import {Image} from "astro:assets";
---

<BaseLayout>
    <Fragment slot="head">
        <title>snoutibur home</title>
    </Fragment>

    <main>
        <section id="title">
            <Image
                    id="hero"
                    src={import('../assets/img/landing.webp')}
                    alt="Landing hero image"
                    sizes="(max-width: 2048px) 100vw, 300px"
                    quality={80}
                    format="webp"
            />

            <div id="title-content">
                <div>
                    <h1>snoutibur</h1>
                    <ul>
                        <li>Artist</li>
                        <li>Musician</li>
                        <li>Programmer</li>
                    </ul>
                </div>

                <hr>

                <div>
                    <h2>Haii!</h2>
                    <p>
                        I am a student majoring in Computer Science. Outside of programming, I love composing and producing music, and digital art.<br>
                        Here and there, I do photography, 3D design & printing and video editing.<br>
                        I like sharing my work, scroll down a bit to see some of it! (when it's added :3)
                    </p>
                </div>

                <ul class="socials-list">
                    <li>
                        <a href="https://github.com/snoutibur"><img src="/socials/GitHub.svg" alt="GitHub Profile" class="socials"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@snoutibur"><img src="/socials/YouTube.svg" alt="YouTUbe Channel" class="socials"></a>
                    </li>
                </ul>
            </div>
        </section>

        <section id="featured">
            <article class="split-card">
                <Image
                        id="hero"
                        src={import('../assets/img/landing.webp')}
                        alt=""
                        sizes="(max-width: 2048px) 100vw, 300px"
                        quality={80}
                        format="webp"
                />
                <h1>Artworks</h1>
                <p>
                    Will be released eventually!
                </p>
            </article>

            <article class="split-card">
                <Image
                        id="hero"
                        src={import('../assets/img/landing.webp')}
                        alt=""
                        sizes="(max-width: 2048px) 100vw, 300px"
                        quality={80}
                        format="webp"
                />
                <h1>Music</h1>
                <p>
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                </p>
            </article>

            <article class="split-card">
                <Image
                        id="hero"
                        src={import('../assets/img/landing.webp')}
                        alt=""
                        sizes="(max-width: 2048px) 100vw, 300px"
                        quality={80}
                        format="webp"
                />
                    <h1>Nerd Stuff</h1>
                    <p>
                        lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                        lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                        lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                        lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                        lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    </p>
            </article>

            <article class="split-card">
                <Image
                        id="hero"
                        src={import('../assets/img/landing.webp')}
                        alt=""
                        sizes="(max-width: 2048px) 100vw, 300px"
                        quality={80}
                        format="webp"
                />
                <h1>Test Frame</h1>
                <p>
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                    lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame. lorem ipsum lorem ipsum. Lorem is lame.
                </p>
            </article>
        </section>
    </main>
</BaseLayout>