---
const {title, image, description, tags} = Astro.props;
import "../styles/components/artcard.scss"
---

<article class="artcard">
    <div>
        <img src={image} alt="imported artwork"/>
        <ul class="tags">
            {tags.map(tag =>
                    <li class="tag">
                        {tag}
                    </li>)}
        </ul>
    </div>
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
</article>