---
import "../styles/components/footer.scss";
import "../styles/components/utilities.css";
---

<footer>
    <div id="footer-basics">
        <img src="/favicon.png" alt="wink pixel logo">

        <div>
            <h1>snoutibur</h1>

            <article id="socials">
                <h3>Socials</h3>
                <ul class="socials-list">
                    <li>
                        <a href="discord.com/users/490265170277662720">
                            <img src="/socials/" alt="Discord Logo" class="socials">
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/snoutibur">
                            <img src="/socials/GitHub.svg" alt="GitHub Logo" class="socials">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/@snoutibur"><img src="/socials/YouTube.svg" alt="YouTube Logo" class="socials"></a>
                    </li>
                </ul>
            </article>
        </div>
    </div>

    <div id="footer-links">
        <h2>Narcissism</h2>
        <ul>
            <li><a href="/about-me">About me</a></li>
            <li><a href="/gear">Gearhead corner</a></li>
        </ul>
    </div>

    <div>
        <p>
            This website is open source! Find it at <a href="https://www.github.com/snoutibur/snoutisite" target="_blank">GitHub/snoutibur/snoutisite</a>
        </p>
        <p>
            Made using <a href="https://astro.build/" target="_blank">Astro</a> with passion and varying degrees of frustration! :D
        </p>
        <small>© 2025 snoutibur | 2025.7.26</small>
    </div>
</footer>