<nav class="navbar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a href="/" class="nav-link">
                <svg width="100%" height="100%" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                            <path d="M100,716C100,716 79.293,679.466 83,626C86.727,572.244 108,530 108,530L81,555C69.352,532.201 67.154,455.13 71,343.5C75.609,209.725 127.97,104.056 146,114C146,114 203.047,145.071 221,197C238.953,248.929 249,274 249,274C249,274 322.122,219.836 400,219C477.878,218.164 551,241 551,241C570.255,164.667 605.566,108.313 661,77C704.979,130.178 731.355,192.558 727,271C731.66,302.863 723.075,419.645 719,449C717.311,461.168 710.672,482.568 707.162,492.763C705.253,498.306 693,469 693,469C693,469 717.29,537.798 717,573C716.466,637.834 719.094,598.21 715,671" style="fill:none;stroke:rgb(255, 255, 255);stroke-width:67px;"/>
                        </svg>
                <span class="link-text">Home</span>
            </a>
        </li>

        <li class="navbar-item">
            <a href="/Discography" class="nav-link">
                <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 19C9 20.1046 7.65685 21 6 21C4.34315 21 3 20.1046 3 19C3 17.8954 4.34315 17 6 17C7.65685 17 9 17.8954 9 19ZM9 19V5L21 3V17M21 17C21 18.1046 19.6569 19 18 19C16.3431 19 15 18.1046 15 17C15 15.8954 16.3431 15 18 15C19.6569 15 21 15.8954 21 17ZM9 9L21 7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="link-text">Discography</span>
            </a>
        </li>

        <li class="navbar-item">
            <a href="/Ableton" class="nav-link">
                <svg fill="#ffffff" width="800px" height="800px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M0 6.4v11.2h1.6V6.4zm3.2 0v11.2h1.6V6.4zm3.2 0v11.2H8V6.4zm3.2 0v11.2h1.6V6.4zm3.2 0V8H24V6.4zm0 3.2v1.6H24V9.6zm0 3.2v1.6H24v-1.6zm0 3.2v1.6H24V16z"/></svg>
                <span class="link-text">Ableton</span>
            </a>
        </li>
    </ul>
</nav>