---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>
    <Fragment slot="head">
        <title>Miscellaneous</title>
    </Fragment>

    <header>
        <h1>Miscellaneous</h1>
    </header>

    <main>
        <h1>Miscellaneous landing is under construction.</h1>
        <p>
            This is a landing page that directs to more niche topics.<br>
            Try visiting <a href="ableton">ableton stuffs</a>! This is where you'll find it in the future.
        </p>
    </main>
</BaseLayout>