---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "@styles/components/cards.scss";
import {Masonry} from "astro-masonry";
---
<BaseLayout>
    <Fragment slot="head">
        <title>Miscellaneous</title>
    </Fragment>

    <header>
        <h1>Miscellaneous</h1>
    </header>

    <main>
        <Masonry
                breakpointCols={{
                    default: 2,
                    760: 1,
                }}
        >
            <a href="/misc/ableton">
                <article class="split-card">
                    <h1>Ableton</h1>
                    <p>Themes & Plugins for Ableton Live</p>
                </article>
            </a>

            <a href="/misc/3d">
                <article class="split-card">
                    <h1>3D Printing</h1>
                    <p>3D Models & Fusion 360 projects</p>
                </article>
            </a>
        </Masonry>
    </main>
</BaseLayout>