---
import "../styles/main.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">

    <Fragment slot="head">
        <slot name="head"/>
    </Fragment>

    <title>snoutibur</title>
</head>

<body>
<Navbar/>
<slot/>
</body>

</html>